.sectionWrapper {
  display: flex;
  gap: 10px;
  background-color: rgb(241, 248, 247);
  margin-top: 10px;
}
.offers {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 10px;
  padding: 20px;
  background-color: white;
}
.offerHeading {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
.wrapperSubSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: white;
  padding: 20px;
}
.wrapper {
  /* width: 1080px; */
  overflow-x: scroll;
}
.offerItemsWrapper {
  display: flex;
  gap: 10px;
  width: max-content;
}
.offerItem {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgb(190, 189, 189);
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}

.offerItem:hover {
  cursor: pointer;
  width: 210px;
}
.offerImage {
  flex: 2;
  width: 100%;
  margin: auto;
}
.offerTitle {
  font-weight: bold;
}
.offerPrice {
  font-size: 16px;
  font-weight: bold;
  color: rgb(95, 177, 95);
}
.banner {
  flex: 1;
  background-color: white;
  padding: 10px;
}
.banner img {
  width: 100%;
  margin: auto;
}
.subSectionWraper {
  display: grid;
  gap: 20px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  background-color: white;
  justify-items: center;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid gray;
  width: 250px;
  border-radius: 10px;
  cursor: pointer;
}
.item:hover {
  box-shadow: 5px 5px 10px 3px rgb(187, 184, 184);
}
