@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
body {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: black; */
}

.App-header {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 14px;
  color: white;
  margin-top: 10px;
}

.mainClass {
  flex: 1;
  background-color: rgb(241, 248, 247);
}
